#ui-datepicker-div
{
    z-index: 9999 !important;
}

.input-xs {
    height: 22px !important;
    padding: 5px 5px !important;
    font-size: 12px !important;
    line-height: 1.5 !important;
    border-radius: 3px !important;
}

.block{
    margin-bottom: 5px;
    border-bottom-color:#34495e;
    border-bottom-style:solid;
}

body {
    /* Margin para el bloque de encabezado */
    margin-top:10px;	
    /* Margin bottom para la altura del footer */
    margin-bottom: 100px;
    /* fondo */
    background-image:url("../img/debut_light.png");
}

/* Sticky footer
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top:5px;
    /* fixed height footer */
    height: 80px;
    background-color: #bdc3c7;
    border-top-color:#e67e22;
    border-top-style:solid;
}

/* ABM Presentación de Requisitos: botones de ancho fijo */
td.area_requisito .btn {width: 70px}

ul.requisitos li span {display: inline-block; width: 250px;}
ul.requisitos li:hover {background-color: #fdf59a;}
#tabs {margin-bottom: 15px;}


/*  Estilo de Tabla de exportaciones de pre-inscriptos / inscriptos  */
.tablaExportar{
    border: solid black 1px;
}
.tablaExportar td{
    padding-left: 10px;
    padding-right: 10px;
    border: solid black 1px;
}

/*  Estilo de tabla de los excel y pdf que se descargan o muestran por pantalla */
.tablaExcel{
    border: solid black 1px;
}
.tablaExcel tr th{
    border: solid black 1px;
}
.tablaExcel tr td{
    border: solid black 1px;
}