#ui-datepicker-div
{
    z-index: 9999 !important;
}

.input-xs {
    height: 22px !important;
    padding: 5px 5px !important;
    font-size: 12px !important;
    line-height: 1.5 !important;
    border-radius: 3px !important;
}

.block{
    margin-bottom: 5px;
    border-bottom-color:#34495e;
    border-bottom-style:solid;
}

body {    
    /* Margin para el bloque de encabezado */
    margin-top:10px;	
    /* Margin bottom para la altura del footer */
    margin-bottom: 100px;
    /* fondo */
    background-image:url("../img/debut_light.png");
}

/* Sticky footer
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top:5px;
    /* fixed height footer */
    height: 80px;
    background-color: #bdc3c7;
    border-top-color:#e67e22;
    border-top-style:solid;
}

/* ABM Presentación de Requisitos: botones de ancho fijo */
td.area_requisito .btn {width: 70px}

ul.requisitos li span {display: inline-block; width: 250px;}
ul.requisitos li:hover {background-color: #fdf59a;}
#tabs {margin-bottom: 15px;}


/*  Estilo de Tabla de exportaciones de pre-inscriptos / inscriptos  */
.tablaExportar{
    border: solid black 1px;
}
.tablaExportar td{
    padding-left: 10px;
    padding-right: 10px;
    border: solid black 1px;
}

/*  Estilo de tabla de los excel y pdf que se descargan o muestran por pantalla */
.tablaExcel{
    border: solid black 0px;
}
.tablaExcel tr th{
    border: solid black 1px;
}
.tablaExcel tr td{
    border: solid black 1px;
}

/* Estilo para el formulario de Login */
.formLogin{
    border: solid black 1px;
    margin-left: 30%;
    padding: 50px;
    box-shadow: 10px 10px 15px #999;
}

/* Estilo para los botones de IrAbajo e IrArriba de los listados */
#divIrAbajo{
      position: fixed;
      right: 5px;
      width: 80px;
      bottom: 100px;
      text-align: center;
  }
  #divIrAbajo a{
      text-decoration: none;
      color: white;
      background-color: black;
      padding: 7px;
      border: 1px solid graytext;
  }
  #divIrAbajo i{
      size: 20px;
  }

/* Estilo para los botones de Ordenamiento en los listados de incriptos de las Carreras */
      .list {
        font-family:sans-serif;
      }
      td {
        padding:10px; 
        border:solid 1px #eee;
      }

      input {
        border:solid 1px #ccc;
        border-radius: 5px;
        padding:7px 14px;
        margin-bottom:10px
      }
      input:focus {
        outline:none;
        border-color:#aaa;
      }
      .sort {
        min-width: 85px;
        padding:5px;
        border-radius: 6px;
        border:none;
        display:inline-block;
        color:#fff;
        text-decoration: none;
        background-color: #28a8e0;
        height:30px;
      }
      .sort:hover {
        text-decoration: none;
        background-color:#1b8aba;
      }
      .sort:focus {
        outline:none;
      }
      .sort:after {
        display:inline-block;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid transparent;
        content:"";
        position: relative;
        top:-10px;
        right:-5px;
      }
      .sort.asc:after {
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #fff;
        content:"";
        position: relative;
        top:4px;
        right:-5px;
      }
      .sort.desc:after {
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid #fff;
        content:"";
        position: relative;
        top:-4px;
        right:-5px;
      }
      
/*  ESTILOS DE BORDES DIFUMINADOS */
.difuminado {
    box-shadow: 0 0 15px 10px greenyellow;
    border-radius: 5px;
}

/*  Título en Tab de Ofertas (donde se descargan los PDF y XLS) */
.divTotales{
    display: initial;
    background-color: #eee;
    border: #e67e22 solid 2px;
    padding: 8px;
    border-radius: 8px;
}

.divTotales div{
    display: inline-block;
}

.divTotales h4{
    font-weight: bold;
}