/* Estilos para los PDF y los EXCEL de descarga */
#tituloHoja{
    font-size: 20pt;
}
#cabeceraPlanilla{
    border: solid 1px black;
    font-size: 14pt;
    background-color: #CCC;
}
#cabeceraPlanilla th{
    border: solid 1px black;
}
#filaPlanilla td{
    border: solid 1px black;
}

/* Estilo de inicio/verificar-certificado */
#certifOK{
    width: 100%;
    height: 100%;
    //background-color: #fdf59a;
    //border-radius: 15px;
    //border: solid 1px black;
}
#imgCertifOK{
    //border: solid 1px red;
    float: left;
    display: inline-block;
    width: 47%;
    height: 230px;
}
#imgCertifOK img{
    float: right;
}
#datosCertifOK{
    font-size: 12pt;
    //border: solid 1px blue;    
    //padding-left: 30px; 
    margin: 0 auto;
    display: inline-block;
    width: 80%;
}
#btnVerificarDeNuevo{
    display: inline-block;
    //margin: 10px 40% 0 40%;
    margin: 0 auto;
}

#divFormInputs{
    color: red;
    margin: 0 auto;
    display: inline-block;
}

.col-xs-3{
    text-transform:uppercase;
    min-width:100px !important;
}